.logo {
    width: 9%;
    height: auto;
    position: absolute;
    top: 50px;
    left: 100px;
  }
  body {
    background: linear-gradient(to right, white 50%, #e8baf2 50%);
  }
  .nav-items {
    list-style: none;
    position: absolute;
    top: 50px;
    left: 500px;
    color: #3e4794;
    font-size: 23px;
  }
  .nav-item {
    display: inline-block;
    margin: 0 10px;
  }
  .signin-btn {
    position: absolute;
    top: 50px;
    left: 1200px;
    border: none;
    background: #7f00ff;
    background: -webkit-linear-gradient(to right, #e100ff, #7f00ff);
    background: linear-gradient(to right, #e100ff, #7f00ff);
    border-radius: 10px;
    width: 90px;
    height: 30px;
    font-size: 16px;
    color: white;
  }
  .imgs-div {
    margin: -30px 600px;
    padding: 10px;
  }
  h1 {
    position: absolute;
    top: 150px;
    left: 100px;
    font-size: 100px;
    color: #3e4794;
  }
  h4 {
    position: absolute;
    top: 360px;
    left: 100px;
    font-size: 26px;
    color: grey;
    font-weight: 20;
  }
  .learn-more-btn {
    position: absolute;
    top: 600px;
    left: 100px;
    border: none;
    background: #7f00ff;
    background: -webkit-linear-gradient(to right, #e100ff, #7f00ff);
    background: linear-gradient(to right, #e100ff, #7f00ff);
    border-radius: 30px;
    width: 250px;
    height: 50px;
    font-size: 26px;
    font-weight: 600;
    color: white;
  }
  @media screen and (min-width: 784px) and (max-width: 1023px) {
    body {
      overflow-x: hidden;
    }
    .logo {
      width: 14%;
      height: auto;
      position: absolute;
      top: 20px;
      left: 20px;
    }
    body {
      background: linear-gradient(to right, white 50%, #e8baf2 60%);
    }
    .nav-items {
      position: absolute;
      top: 26px;
      left: 180px;
      font-size: 20px;
    }
    .nav-item {
      display: inline-block;
      margin: 0 7px;
    }
    .signin-btn {
      position: absolute;
      top: 24px;
      left: 660px;
      width: 80px;
      height: 30px;
      font-size: 12px;
    }
    /*   done header */
    .imgs-div {
      margin: 200px -100px;
      padding: 10px;
      max-width: 10%;
      height: auto;
    }
    h1 {
      position: absolute;
      top: 70px;
      left: 20px;
      font-size: 65px;
    }
    h4 {
      position: absolute;
      top: 170px;
      left: 30px;
      font-size: 20px;
      font-weight: 20;
    }
    .learn-more-btn {
      position: absolute;
      top: 260px;
      left: 400px;
      border: none;
      width: 250px;
      height: 50px;
      font-size: 26px;
    }
  }
  @media screen and (max-width: 783px) {
    .logo {
      width: 20%;
      height: auto;
      position: absolute;
      top: 20px;
      left: 20px;
    }
    body {
      overflow-x: hidden;
      background: linear-gradient(to right, white 50%, #e8baf2 60%);
    }
    .nav-items {
      list-style: none;
      position: absolute;
      top: 30px;
      left: 140px;
      color: #3e4794;
      font-size: 125%;
    }
    .nav-items:hover {
      color: #d20808;
    }
    .nav-item {
      display: inline-block;
      margin: 0 4px;
    }
    .signin-btn {
      position: absolute;
      top: 100px;
      left: 400px;
    }
    .imgs-div {
      margin: 400px -90px;
      padding: 10px;
    }
    h1 {
      position: absolute;
      top: 90px;
      left: 20px;
      font-size: 80px;
    }
    h4 {
      position: absolute;
      top: 220px;
      left: 20px;
      font-size: 24px;
    }
    .learn-more-btn {
      position: absolute;
      top: 430px;
      left: 100px;
    }
}